// Place all the styles related to the ChatRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// for chat_rooms/_chat_room.html.erb
.chat-room {
  clear: both;
  height: 60px;
  margin-left: 5px;

  .user-image {
    margin-top: 5px;
  }

  a.chat-room-open {
    // bit of a hack until I figure out how to make anchor tag fill entire height of div
    height: 60px;
    display: block;
    width: 80%;
    // float so that display block doesn't take up the whole width
    float: left;
  }

  .chat-room-content {
    float: left;
    height: inherit;
    display: table;

    // for aligning content vertically
    p {
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
    }

  }

  a.chat-room-delete {
    float: left;
  }


  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

}

// for chat_rooms/show.html.erb
.chat-room-show-name {
  display: inline;

  // need to refactor padding-left
  p {
    font-size: inherit;
    display: inline;
    padding-left: 10px;
  }

}

.chat-room-show-language {
  display: inline;
}

@media all and (max-width:768px)
{

  .chat-room .chat-room-content {
    width: 75%;

    p {
      word-wrap: break-word;
    }

  }
}
