// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// for users/_user.html.erb
.portfolio-item {
  margin-bottom: 10px;
  font-family: Ubuntu,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;

  a {
    display: block;
    min-height: 150px;
    background-color: #f8f8f8;
    border-radius: 10px;
  }

}

// need to refactor the black part, overriding something else at the moment
.user-content {
  overflow: hidden;
  padding-left:15px;
  padding-top: 10px;
  color: black;

  .name {
    min-height: 52px;

    // maybe refactor, here and in #profile-center have repeat code
    h3 {
      padding:0;
      margin: 0;
    }

  }

  .language h4 {
    font-size: 14px;
    margin: 0px
  }

  .title {
    color: #777;
    padding-top: 3px;
    font-weight: 500;
    color: black;
  }

}

// for users/_user.html.erb, chat_rooms/show.html.erb, chat_rooms/_chat_room.html.erb
// for aligning image horizontally
.user-image {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 0px;
  padding-left: 0px;
  overflow: hidden;
  float: left;
  display: table;

  //for aligning image vertically
  p {
    display: table-cell;
    vertical-align: middle;
  }

}

// for users/show.html.erb
#profile-left {
  float: left;
  overflow: hidden;
  padding: 5px;
  // hack job setting width to 250px so that I can position delete button correctly for everyone
  width: 250px;

  #user-image {
    height: 250px;
    display: table;
    text-align: center;

    // p to align image in the center (vertically)
    p {
      display: table-cell;
      vertical-align: middle;
    }

  }

  img {
    padding-top: 10px;
  }

}

#profile-center {
  overflow: hidden;
  padding-left:15px;
  padding-top: 10px;
  color: black;
  width: 30%;
  float: left;

  h1 {
    text-transform: uppercase;
  }

  h3 {
    padding:0;
    margin: 0;
  }

  h4 {
    font-size: 14px;
    margin: 0px;

    span {
      font-weight: normal;
    }

  }

}

// 35% because it seems to be the right point at which the div drops down instead of intruding on text input areas
#profile-right {
  width: 35%;
  float: left;
  padding-left: 15px;

  // maybe refactor, only used once so not sure if it's worth the extra space
  p {
    font-weight: normal;
  }

}

// for settings/reset_password.html.erb and users/new.html.erb
#user-email {
  width: 200px;
}

// for users/new.html.erb
#user-password {
  width: 200px;
}

// for users/new.html.erb&show.html.erb
#user-name {
  width: 200px;
}

#user-birthdate {
  width: 150px;
}

#user-title {
  width: 200px;
}

// for sessions/new.html.erb and users/new.html.erb&show.html.erb
.btn.btn-primary.linkedin {
  // for showing 'add Linkedin' button for user without linked Linkedin profile
  margin-top: 5px;
  background-color: #287bbc;
  border: none;
  height: 40px;

  &:hover {
    background-color: #286fbc;
  }

}

// for users/_user.html.erb
.linkedin-icon-small {
  float: left;
  clear: both;
  margin-left: 2px;
  margin-top: 5px;
}

// for users/show.html.erb
#tutor-materials {
  padding-left: 10px;

  #material-attachment {
    display: inline;
    width: 200px;
  }

}

#user-interests {
  padding-left: 10px;

  .column {
    width:30%;
    float:left;
  }

  .btn.btn-primary {
    clear:both;
    display:block;
  }

}

#user-reviews {
  padding-left: 10px;

  ul {
    padding: 0px;
  }

}

#user-chatbots {
  padding-left: 10px;
}

#user-reviews, #user-chatbots {
  li span {
    text-transform:uppercase;
  }
}

//768px for phones and tablets
@media all and (max-width:768px) {
  #profile-center, #profile-right {
    float: none;
    width: 100%;
  }

  #user-interests .column {
    float: none;
    width: 100%;
  }

  .reset-password input[type="submit"] {
    margin-top: 10px;
  }

}
